.gray-header{
    background-color: #eaeaea;
    padding-top: 100px;
}

.gray-header .header-title{
    display: inline-block;
    font-size: 2.1875em;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2em;
    background: #B5D2D1;
    color: white;
    border-top-right-radius: 2px;
}

.art{
    padding: 75px 25px;
}

.art .article-left, .art .article-right{
    display: inline-block;
    vertical-align: top;
}
.art .article-left{
    width: 65%;
    margin-right: 3%;
}
.art .article-right{
    width: 30%;
}
