.gallery-card{
    display: inline-block;
    width: 16.4%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 48px;
}

.gallery-title{
    padding-bottom: 24px;
}

.gallery-title span{
    font-size: 28px;
    color: #1E1E1E;
}

.gallery-card a:last-child{
    text-decoration: none;
    color: #6b6b6b;
    border-bottom: 1px dotted #9e9e9e;
    transition: color .22s ease-in-out,border .22s ease-in-out;
}

.gallery-card a:last-child:hover{
    text-decoration: none;
    color: rgba(158,158,158,0.8);
    border-color: rgba(158,158,158,0.6);
}
