{% extends 'article_base.html' %}
{% block header-title %}
    NEWS
{% endblock %}
{% block left-content %}
    <div class="new-title">
        <span>{{ article.title }}</span>
    </div>
    <div class="new-date">
        <span>{{ article.create_date }}</span>
    </div>
    {% autoescape off %}
        {{ article.content }}
    {% endautoescape %}
{% endblock %}
{% block right-content %}
    {% if article.isShow %}
    <img src="/media/{{ article.cover }}" alt=""/>
    {% else %}
    <div class="recent-article">
        <span class="recent-title">Recent articles</span>
        <ul>
            {% for a in recent_article %}
            <li><a href="/news?pk={{ a.pk }}">{{ a.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
