{% extends 'article_base.html' %}
{% block extstyle %}
<link rel="stylesheet" href="/static/css/gallery.css">
{% endblock %}
{% block header-title %}
GALLERY
{% endblock %}
{% block article %}
<div class="gallery-title">
    <span>GALLERY</span>
</div>
<div class="gallery-place">
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
    <div class="gallery-card">
        <a href="/"><img src="/media/./1512721503626525-lp_LNVPRSH.jpg" alt=""></a>
        <a href="/">Gallery</a>
    </div>
</div>
{% endblock %}
{% block bScript %}
<script src="/static/js/jquery.colorbox-min.js" charset="utf-8"></script>
{% endblock %}
