{% extends 'article_base.html' %}
{% block extstyle %}
<link rel="stylesheet" href="/static/css/news.css" type="text/css" charset="utf-8">
{% endblock %}
{% block header-title %}NEWS{% endblock %}
{% block left-content %}
    {% for i in article %}
    <div class="article-card">
        <div class="article-title"><a href="/news?pk={{ i.pk }}">{{ i.title }}</a></div>
        <div class="article-info"><span>{{ i.create_date }}</span></div>
        <div class="article-detail">
            <a href="/news?pk={{ i.pk }}"><img
               src="/media/{{ i.cover }}"
                alt=""></a>
            <div class="detail-content">
                <p>
                {{ i.descript }}
                </p>
                <a href="/news?pk={{ i.pk }}">Read more...</a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
{% block right-content %}
<div class="recent-article">
    <span class="recent-title">All Events</span>
    <ul>
    </ul>
</div>
{% endblock %}
