{% extends 'article_base.html' %}
{% block extstyle %}
<link rel="stylesheet" href="/static/css/news.css" type="text/css" charset="utf-8">
{% endblock %}
{% block header-title %}NEWS{% endblock %}
{% block left-content %}
    <div class="article-card">
        <div class="article-title"><a href="/article?pk=1">2017 Hong Kong International Autumn Lighting Fair</a></div>
        <div class="article-info"><span>2018-4-24</span></div>
        <div class="article-detail">
            <a href="/"><img
                src="http://www.val-international.com.au/ueditor/php/upload/image/20171208/1512721503626525-lp.jpg"
                alt=""></a>
            <div class="detail-content">
                <p>
                    2017 Hong Kong International Autumn Lighting Fair was a HUGE success VAL Internat
                </p>
                <a href="/">Read more...</a>
            </div>
        </div>
    </div>

    <div class="article-card">
        <div class="article-title"><a href="/article?pk=1">2017 Hong Kong International Autumn Lighting Fair</a></div>
        <div class="article-info"><span>2018-4-24</span></div>
        <div class="article-detail">
            <a href="/"><img
                src="http://www.val-international.com.au/ueditor/php/upload/image/20171208/1512721503626525-lp.jpg"
                alt=""></a>
            <div class="detail-content">
                <p>
                    2017 Hong Kong International Autumn Lighting Fair was a HUGE success VAL Internat
                </p>
                <a href="/">Read more...</a>
            </div>
        </div>
    </div>
    <div class="article-card">
        <div class="article-title"><a href="/article?pk=1">2017 Hong Kong International Autumn Lighting Fair</a></div>
        <div class="article-info"><span>2018-4-24</span></div>
        <div class="article-detail">
            <a href="/"><img
                src="http://www.val-international.com.au/ueditor/php/upload/image/20171208/1512721503626525-lp.jpg"
                alt=""></a>
            <div class="detail-content">
                <p>
                    2017 Hong Kong International Autumn Lighting Fair was a HUGE success VAL Internat
                </p>
                <a href="/">Read more...</a>
            </div>
        </div>
    </div>
    <div class="article-card">
        <div class="article-title"><a href="/article?pk=1">2017 Hong Kong International Autumn Lighting Fair</a></div>
        <div class="article-info"><span>2018-4-24</span></div>
        <div class="article-detail">
            <a href="/"><img
                src="http://www.val-international.com.au/ueditor/php/upload/image/20171208/1512721503626525-lp.jpg"
                alt=""></a>
            <div class="detail-content">
                <p>
                    2017 Hong Kong International Autumn Lighting Fair was a HUGE success VAL Internat
                </p>
                <a href="/">Read more...</a>
            </div>
        </div>
    </div>
    <div class="article-card">
        <div class="article-title"><a href="/article?pk=1">2017 Hong Kong International Autumn Lighting Fair</a></div>
        <div class="article-info"><span>2018-4-24</span></div>
        <div class="article-detail">
            <a href="/"><img
                src="http://www.val-international.com.au/ueditor/php/upload/image/20171208/1512721503626525-lp.jpg"
                alt=""></a>
            <div class="detail-content">
                <p>
                    2017 Hong Kong International Autumn Lighting Fair was a HUGE success VAL Internat
                </p>
                <a href="/">Read more...</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block right-content %}

{% endblock %}
